.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
}

.header--dark {
    line-height: 1.25rem;
}

.header__search {
    display: inline;
}

.search__input {
    border-radius: 4px 0;
    padding: 0.375rem 0.75rem;
    line-height: 1.2rem;
}

.search__btn {
    background-color: rgb(0, 123, 255);
    width: 50px;
    height: 30px;
    padding: 0.375rem 0.75rem;
}